

<ion-content class="progress-page">
  <div class="summary">
    <div class="summary-right">
      <ion-segment [(ngModel)]="segment" (ionChange)="setSegment(segment)" mode="md">
        <ion-segment-button value="daily">Daily</ion-segment-button>
        <ion-segment-button value="weekly">Weekly</ion-segment-button>
        <ion-segment-button value="subjects">Subjects</ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="bottom-left">Total: {{ totalPoints }}</div>
    <div class="bottom-right">Date: {{ lastUpdated }}</div>
  </div>

  <div class="charts">
    <!-- DAILY -->
    <div *ngIf="segment === 'daily'" class="chart-container">
      <h4>Daily Progress</h4>
      <canvas baseChart
        [data]="dailyChartData"
        [type]="'bar'"
        [options]="dailyOptions">
      </canvas>
    </div>

    <!-- WEEKLY -->
    <div *ngIf="segment === 'weekly'" class="chart-container">
      <h4>Weekly Progress</h4>
      <canvas baseChart
        [data]="weeklyChartData"
        [type]="'line'"
        [options]="weeklyOptions">
      </canvas>
    </div>

    <!-- SUBJECTS -->
    <div *ngIf="segment === 'subjects'" class="chart-container">
      <h4>Subjects</h4>
      <canvas baseChart
        [data]="subjectChartData"
        [type]="'pie'"
        [options]="subjectOptions">
      </canvas>
    </div>
  </div>

  <!-- Bottom Info -->
  
</ion-content>
