<ion-content>
  <div class="page-wrapper">
    <div class="container">
      <h3 class="title">Quizer</h3>

      <h2 class="subtitle">Welcome To Quizer</h2>
      <p class="description">
       Welcome practitioner to practice your knowledge
      </p>

      <ion-button expand="block" class="signin-btn" (click)="goToSignin()">
        Sign In
      </ion-button>

      <ion-button expand="block" class="signup-btn" (click)="goToSignup()">
        Register
      </ion-button>

     
    </div>
  </div>
</ion-content>
